.card{
  padding-top: 2%;
  padding-left: 3%;
  width: 55%;
}

.donut{
  width: 25%;
}

.donut-table{
  width: 15%;
  padding-right: 1%;
}

.projects{
  background: #202020;
}

.skillset-text{
  padding-top: 2%;
}

.card-buttons{
  padding-top: 2%;
  padding-left: 3%;
}

