.report {
  padding-top: 1%;
  padding-left: 3%;
}

.donut{
  width: 40%;
}

.donut-table{
  width: 15%;
}

.project-table{
  align-self: flex-start;
  width: 35%;
  padding-left: 3%;
}
.report-body{
background: #202020;
padding-bottom: 1%;
}
